@import url('https://fonts.cdnfonts.com/css/metropolis-2');

/*TO DO - skaalautuvuus pienemmillä näytöillä sekä pysty-vaaka*/

.scene-movie {
    font-family: 'Metropolis', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 100vh;
    padding: 40px;
    background: url('/images/scene-movie-background.jpg') no-repeat center center/cover;
    color: var(--neutral-lightest);
    box-sizing: border-box;
  }

  .movie-header {
    position: absolute;
    top: 10px; /* Sijoitetaan yläreunaan */
    left: 50%;
    transform: translateX(-50%); /* Keskitetään vaakasuunnassa */
    background-color: rgba(0, 0, 0, 0.6); /* Tumma läpikuultava tausta */
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: auto;
  }  
  
  .movie-info {
    flex: 1; /* Tekstikenttä vie 50% tilasta */
    max-width: 50%;
    padding: 20px;
  }
  
  .movie-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  }
  
  .movie-info p {
    font-size: 1.2rem;
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 8px;
  }
  
  .movie-poster {
    flex: 1; /* Kuva vie 50% tilasta */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
  }
  
  .movie-poster img {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .tmdb-attribution {
    display: flex;
    justify-content: space-between; /* Logo vasemmalle, teksti oikealle */
    align-items: center; /* Keskitetään pystysuunnassa */
    position: absolute;
    bottom: 5px;  /* Kiinnitetään alareunaan */
    left: 0;
    width: 100%;
    padding: 5px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 12px;
  }
  
  .tmdb-attribution img {
    height: 10px;
  }
  
  .tmdb-attribution p {
    margin: 0;
    font-size: 9px;
    text-align: right;
    max-width: 60%; /* Estetään tekstin leviämistä liian oikealle */
    padding-right: 20px; /* Lisätään vähän tilaa oikeaan reunaan */
  }
  
  