.fact-container {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fact-overlay-title {
  position: absolute;
  top: 10vh;
  left: 25%;
  transform: translateX(-50%);
  color: var(--neutral-lightest);
  padding: 10px 20px;
  font-size: clamp(3rem, 4vw, 6rem);
  text-align: center;
  white-space: nowrap;
}

.fact-overlay-text {
  position: absolute;
  top: 22vh;
  left: 25%;
  transform: translateX(-50%);
  color: var(--neutral-lightest);
  padding: 10px 20px;
  font-size: clamp(0.5rem, 2vw, 2.5rem);
  text-align: center;
  width: 60%;
  max-width: 600px;
}

.fact-overlay-title-vertical {
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translateX(-50%);
  color: var(--neutral-lightest);
  padding: 10px 20px;
  font-size: 6rem;
  text-align: center;
  white-space: nowrap;
}

.fact-overlay-text-vertical {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translateX(-50%);
  color: var(--neutral-lightest);
  padding: 10px 20px;
  font-size: 2.5rem;
  text-align: center;
  width: 60%;
  max-width: 600px;
}