.scene_weather {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  color: var(--neutral-lightest);
}

.weather_screen {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.weather_report {
  background-color: var(--neutral-darker-aplha);
  font-size: 100%;
}

.weather-landscape .weather_report {
  .weather_table {
  }

  table {
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: center;
  }

  thead {
    display:flex;
    flex-direction: row;
  }
  
  tbody {
    border: 0.2em solid black;
    display:flex;
    flex-direction: row;
  }

  tr {
    border: 0.2em solid black;
    display:flex;
    flex-direction: column;
  }

  td, th {
    padding:1em;
    border: 0.2em solid black;
  }
}

.weather-portrait .weather_report  {
  .weather_table {
    border: 0.2em solid black;
  }
  
  tbody {
    border: 0.2em solid black;
  }

  tr {
    border: 0.2em solid black;
  }

  td, th {
    padding:1em;
    border: 0.2em solid black;
  }

}
