:root {
  --warning: #ad2831;
  --primary: #17bebb;
  --secondary: #76b041;
  --neutral-lightest: #ffffff;
  --neutral-light: #fff8f0;
  --neutral: #abadb0;
  --neutral-dark: #636669;
  --neutral-darker: #252627;
  --neutral-darker-aplha: rgba(33,33,33,0.7);
  --neutral-darkest: #000000;
}

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: var(--neutral-darkest);
  color: var(--neutral-light);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}