@import url('https://fonts.cdnfonts.com/css/metropolis-2');

.scene_anniversary {
    font-family: 'Metropolis', 'Helvetica', 'Arial', sans-serif;
    background-color: var(--neutral);
    background-image: url("./bg_anniversary.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styling */

.scene_anniversary_header {
    width: 100%;
    text-align: center;
}

.scene_anniversary_header h1 {
    font-size: 5vh;
    margin: 0;
    padding-top: 10vh;
}

/* Content styling starts here */

.scene_anniversary_content {
    width: 100%;
    flex-grow: 1;
}

.scene_anniversary_content h2 {
    margin: 0;
    font-size: 2.35vh;
    font-weight: 600;
    text-align: center;
}

.scene_anniversary_events {
    box-sizing: border-box;
    position: absolute;
    padding: 1%;
    font-size: 1.8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Event styling */

.events {
    width: 21%;
    height: 53.5%;
    top: 27%;
    left: 26%;
}

.event {
    display: flex;
    flex-direction: row;
    gap: 1em;
    padding: 0.5em 0;
}

.img_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event .img {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--neutral);
    background-size: cover;
}

/* Birthday and death styling */

.people {
    width: 19.5%;
    height: 51%;
    top: 31%;
    left: 54%;
}

.people_event .text {
    align-self: center;
}