.splash {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url("images/bg_splash.jpg");
  background-size: cover;
  color: var(--neutral-lightest);
  font-size: 120%;
}

.splash_name {
  height: 1em;
  padding: 0.3em;
  text-align: right;
}

.splash_screen {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.splash_screen > div {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splash_screen img {
  width: 18em;
}

.splash_link {
  margin-top: 1em;
  background-color: var(--neutral-darker-aplha);
  padding: 1em;
  border-radius: 0.25em;
}

.splash_tag {
  margin-top: 0.5em;
  font-size: 200%;
}