.nameday_slide {
  position: relative;
}

.nameday_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.nameday_picture {
  width: 100%;
  height: 100%;
}

.nameday_text {
  display:block;
  position:absolute;
  color: var(--neutral-lightest);
  top: 25%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: var(--neutral-darkest-alpha);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;

  opacity: 0;
  z-index: 10;

  animation: fadeInUp 1.5s ease-in-out 0.2s forwards;
}

/* Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
}

.nameday_header {
  font-size: 4rem; 
}

.nameday_date {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-top: 3rem;
}

.nameday_names {
  font-size: 3.5rem;
  font-weight: bolder;
  margin-top: 7rem;
}