.scene_stock {
    background-image: url("server/media/stock2.jpg");
    font-weight: bold;
    font-family: 'Metropolis', sans-serif;
    display: block;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 70px;
  }


.scene_stock > .scene_stock_h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    background-color: #85BB65;
    max-width: 40%;
    margin: auto;
    margin-top: 75px;
    border-radius: 15px;
}

.scene_stock > .scene_stock_h2 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    background-color: #85BB65;
    max-width: 40%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;

}

.scene_stock > .scene_stock_price {
    font-size: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #85BB65;
    max-width: 40%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
}
